
.pozadinadiv
{ background-image: url(pare11.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-size: auto;
  background-position: center;
  background-size: cover ;
}
.Centriran 
    {
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 14%;
    background-color: whitesmoke;
    width: 60%;
    border: 3px solid #73AD21;
    z-index: 2; 
    }
.mySlides
{
    display:none;
}


